extends layout

block content
  div(class='bg')
    div(class='banner') 
      div
        h1 Josefa SuperMarket 
        h5 Where you have found everthing and more.
  div(class='bg-d')
    p tafdjdjdg 
 
