body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
.logo{
  width: 75px;
  height: 50px;
}
nav, .bt{
  padding: 0px;
  height: 50px;
}
.bg, .banner{
  width: 100%;
  height: 350px;
}
.bg{
  background-image: url(../images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.banner{
  background-color: rgba(0, 0, 0, 0.596);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav, ul, li{
  color: black;
}
footer{
  text-align: center;
}
.category{

  background-image: url(../images/banner_2.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.category-bg{
  background-color: rgba(0, 0, 0, 0.658);
  width: 100%;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-form{
  width: 300px;
  height: 250px;  
}
@media only screen and (max-width: 768px){
  .category-form{
    width: 80%;
  }

}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.logo{
  width: 75px;
  height: 50px;
}
nav, .bt{
  padding: 0px;
  height: 50px;
}
.bg, .banner{
  width: 100%;
  height: 350px;
}
.bg{
  background-image: url(../images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.banner{
  background-color: rgba(0, 0, 0, 0.596);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav, ul, li{
  color: black;
}
footer{
  text-align: center;
}
.category, .product-form{
  background-image: url(../images/banner_2.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.category-bg{
  background-color: rgba(0, 0, 0, 0.658);
  width: 100%;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-form{
  width: 300px;
  height: 250px;  
}

.over{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.over{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
}
.product-bg{
  width: 50%;
  color: white;  
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list ul{
  list-style-type: none;
}
.list ul li {
  width: 300px;
  background-color:#21110E;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}
.list ul li a{
  text-decoration: none;
  color: white;
}
.detail div p{  
  margin: 0;
}
.detail h1{
  text-align: center;
}
.grid{
  display: grid;
  gap: 2px;
  grid-template-columns: 30% 30% 30%;
}
.detail dl dt{
  margin-bottom: 5px;
  box-shadow: #21110E;
}
.detail dl dt a{
  text-decoration: none;
  color: white;
  width: 100%;
}
.name{  
  width: 100%;
  background-color: #21110E;
  padding: 3px;
  border-radius: 5px;
}
.product{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tit{
  text-align: center;
}
.product .proName a, .bg-d li a{
  text-decoration: none;
  color: white;
}
.produ li a, .bg-d li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.product .proName{
  background-color: #21110E;
  padding: 3px;
  border-radius: 5px;
  width: 300px;
}
.product ul, .bg-d {
  list-style-type: none;
}
.list-index{
  padding: 2px;
  margin: 2px;
}
.produ li {
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  outline: #21110E 1px solid;
  width: 95%;
}
.b-list{
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.b-list ul li a{
  color: white;
} 
.list-index{ 
  border-radius: 5px;
  background-color: #21110E;
  width: 100%;
  padding: 2px;
}
.bg-d{
  width: 60%;
}
@media only screen and (max-width: 768px){
  .category-form{
    width: 80%;
  }
  .list ul li {
    width: 250px;
  }
  .grid{
    grid-template-columns: 100%;
  }
  .product{
    width: 250px;
  }
  .bg-d{
    width: 80%;
  }
}